<li>
  <%- link_to upload.node.url, :class => 'upload' do %>
    <span>
      <%= image_tag(upload.icon, :title =>  upload.node_file_name, :alt => upload.node_content_type.parameterize) %>
    </span>
    <span><%= truncate(upload.node_file_name, :ommision => "...", :length => 20) %></span>
  <%- end %>
  <% unless upload.description.blank? %>
    <div class="upload_descr">
      <%= h upload.description %>
      <div class="meta">
        <%= h upload.user.login %>
        <%= l upload.created_at, :format => :short %>
      </div>
    </div>
  <% end %>
  <%- if is_admin? -%>
      <%= link_to image_tag('led-ico/delete.png'), upload, :class => 'ico', :confirm => 'Are you sure?', :method => :delete %>
  <%- end -%>
</li>
